h2, h3 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  position: relative;
  text-align: left;
  padding: 40px;
  padding-left: 60px;
  font-size: 40px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 33px;
  font-weight: bold;
  color: #596266;
  border-bottom: 2px solid;
  border-bottom-color: rgba(255, 89, 100, 0.65);
  margin-bottom: 25px;
  margin-left: 55px;
  width: 12%;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin-right: -100px;
}

span {
  color: #FF5964;
}

.rocks {
  color: #28D1CB;
}

.picture img {
  padding-left: 50px;
}

.content-text {
  text-align: justify;
  width: 73%;
  padding-top: 25px;
}

li {
  display: inline;
  margin: 5px
}

.list-link {
  padding-top: 25px;
  width: 73%;
  text-align: center;
}

nav {
  position: fixed;
  top: 0px;
  padding: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: right;
  font-size: 0.85em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}

nav ul {
  padding-top: 8px;
  padding-right: 30px;
}

nav a {
  color: #3C6796;
}
