{% include blog-head.html %}
<body>

  {% include navigation.html %}

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('/tmplate/img/home-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>{{ page.title }}</h1>
                      <hr class="small">
                      <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if site.posts.size == 0 %}
                    <h2>No posts found =(</h2>
                {% else %}
                  {% for post in site.posts %}
                    <div class="content list">
                      <div class="list-item">
                        <h2 class="list-post-title">
                          <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                        </h2>
                        <div class="list-post-date">
                          <time>{{ post.date | date_to_string }}</time>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
          </div>
  </div>

  {% include footer.html %}

  <!-- jQuery -->
  <script src="/tmplate/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/tmplate/js/bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/tmplate/js/clean-blog.min.js"></script>

</body>
