<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="icon" href="https://cloud.githubusercontent.com/assets/4070127/13484440/7e778148-e0dc-11e5-82ed-a47a81c8c211.png">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:thsouzza@gmail.com">email</a></li>
                <li><a href="https://github.com/medeirosthiiago">github.com/medeirosthiiago</a></li>
            </ul>
        </footer>
    </body>
</html>
