{% include blog-head.html %}
<body>

  {% include navigation.html %}

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('/tmplate/img/post-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1>{{ page.title }}</h1>
                      <h2 class="subheading">{{ page.subtitle }}</h2>
                      <span class="meta">Posted on {{ page.date | date_to_string }}</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <!-- Post Content -->
      {{ content }}

      <div id="disqus_thread"></div>
      <script>
          var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ page.url }}';
              this.page.identifier = '{{ page.url }}';
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//mthiiago.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>

  <!-- jQuery -->
  <script src="/tmplate/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/tmplate/js/bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/tmplate/js/clean-blog.min.js"></script>

</body>
